body {
    text-align: center;
    background-color: #502dc4;
}

img {
    width: 34%;
}

h1 {
    color: #f7ff00;
    font-size: 50px;
}

input {
    text-align: center;
    font-size: 17px;
}

#entrada-real {
    border: 3px solid rgb(18, 212, 92);
    border-radius: 10px;
}

#entrada-dolar {
    border: 3px solid rgb(209, 58, 58);
    border-radius: 10px;
}

p {
    color: greenyellow;
    font-size: 20px;
}

button {
    font-size: 25px;
    cursor: pointer;
    border: 3px solid greenyellow;
    border-radius: 15px;
    background-color: #502dc4;
    color: honeydew;
}

button:hover {
    color: rgb(58, 119, 86);
    background-color: honeydew;
    border: 3px solid rgb(58, 119, 86);
}